.buttons {
  $button-color: darkgray;
  position: absolute;
  bottom: 50px;
  left: 50px;
  overflow: hidden;
  z-index: 1;
  // transform: rotate(45deg);
  border-radius: 20px;

  .row {
    display: flex;
    button {
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: 1px solid darken($button-color, 30%);
      background-color: $button-color;
      cursor: pointer;

      &:hover {
        background-color: lighten($button-color, 10%);
      }
      .text {
        // transform: rotate(-45deg);
      }
    }
    .active {
      background-color: darken(white, 10%);
    }
  }
}
