.buttons {
  $button-color: gray;

  .row {
    display: flex;
    button {
      width: 20px;
      height: 20px;
      font-size: 10px;
      border: 1px solid darkgray;
      background-color: $button-color;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      }
      .text {
        color: white;
      }
    }
    .active {
      background-color: lightgray;
    }
  }
}
