@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.page {
  margin-top: 55px;
  width: 100svw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard-Regular';
  .welcome {
    display: flex;
    color: white;
    width: 100%;
    height: 56svw;
    justify-content: center;
    background: url('/gamulpung-client/main_photo.png');
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 80px;
      margin: 0;
      font-weight: 900;
    }
    h2 {
      font-size: 50px;
    }
    button {
      background-color: black;
      padding: 8px 50px;
      border-radius: 8px;
      font-weight: bold;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .rules {
    width: 100%;
    border: 30px solid #e9faaa;
    background: linear-gradient(#e9f6b9, #f1fad1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #8ba91f;
    h1 {
      padding: 40px;
    }
  }
  .contribute {
    width: 100%;
    height: 800px;
    background-color: #a8ec67;
    display: flex;
    justify-content: center;
    .mainBlock {
      background: linear-gradient(#62b628, #71c637);
      border: 50px solid #71c637;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 800px;
      gap: 20px;
      color: white;
      button {
        background-color: black;
        font-size: 20px;
        font-weight: bold;
        padding: 15px 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
