.page {
  width: 100svw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      background-color: black;
      padding: 8px 24px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
