:global(html) {
  overflow-y: hidden;
}

.page {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  background-color: lightslategray;

  .zoombar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    border-radius: 50px;
    button {
      width: 50px;
      height: 50px;
      font-size: 40px;
    }
  }

  .monitoringFrame {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    background-color: grey;
    border-radius: 20px;
    padding: 10px 30px;
    button {
      cursor: pointer;
    }
  }

  .monitoringFrameDisabled {
    width: 50px;
    transition: 0.5s ease;
    padding: 5px;
    height: 20px;
    & > * {
      display: none;
    }
    &:hover {
      width: 100px;
      height: auto;
      & > * {
        display: block;
      }
    }
  }
}
