@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geekble';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  z-index: 100;
  h1 {
    margin-bottom: 10px;
  }
  .loadingBar {
    animation: loadingAnimation 0.5s;
    width: 50%;
    background-color: lightgray;
    height: 10px;
    border-radius: 100px;

    @keyframes loadingAnimation {
      0% {
        width: 0;
        background-color: gray;
      }
      100% {
        width: 50%;
        background-color: lightgray;
      }
    }
  }
  .loadComplete {
    animation: loadingAnimation 0.3s;
    width: 100%;
    background-color: white;
    height: 10px;
    border-radius: 100px;

    @keyframes loadingAnimation {
      0% {
        width: 50%;
        background-color: lightgray;
      }
      100% {
        width: 100%;
        background-color: white;
      }
    }
  }
}

.canvasContainer {
  $tile-size: 20px;
  $animation-duration: 0.2s;
  .canvas {
    top: -5svh;
    left: -5svw;
    overflow: hidden;
    position: absolute;
    width: 110svw;
    height: 110svh;
    cursor: pointer;
  }
}
